<div class="row">
  <div class="col-md-6 m-auto jumbotron">
    <h1 class="text-center"> Welcome To FriendApp </h1>
    <p class="text-center"> It's all fun here.. </p>
  </div>

  <div class="col-md-1"> 
  </div>


  <div class=" jumbotron col-md-5 m-auto">
    <h2 class="text-center">Create a New Account</h2>
    <p class="text-center">It's fast and Easy</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :birth_date %><br />
        <%= f.date_field :birth_date, autofocus: true, autocomplete: "birth_date", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :gender %><br />
        <%= f.label :Male %>
        <%= f.radio_button :gender, "Male" %>
        <%= f.label :Female %>
        <%= f.radio_button :gender, "Female" %>
        <%= f.label :Non_Binary %>
        <%= f.radio_button :gender, "Non binary" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'%>
      </div>
      <br>

      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-primary'%>
      </div>
    <% end %>
    <br>
    <p class="text-center"> if you already have an account: </p>
    <%= render "devise/shared/links" %>
  </div> 
</div>

